h1 {
    background: #4aaaa5;
    color: #ffffff;
}

.top {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color: #777777;
}

h2 {
    color: #4aaaa5;
}

h3, h4, h5 {
    color: #777777;
    font-size: 15px;
    padding: 0px;
}

.text {
    width: 50%;
}

main {
    width: 960px;
    color: #4aaaa5;
    border: #dddddd;
}

a {
    margin-left: 15px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

section { 
    color: #cccccc;
}

.button {
    display: flex;
    justify-content: end;
    color: #4aaaa5;
    margin: 50px;
}

.footer1{
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 2px;
    color: #ffffff;
    background: #666666;
    padding: #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 5px 5px 0px 0px;
}

input[type=text]{
    width: 100%;
}

input[type=submit]{
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    direction: flex;
    justify-content: space-around;
    background: #4aaaa5;
    color: #ffffff;
}